streamlit==1.38.0
yfinance>=0.2.50
pandas>=2.3.2
numpy==2.2.6
matplotlib==3.9.2
seaborn==0.13.2
pandas-ta==0.4.71b0
statsmodels==0.14.2
scikit-learn==1.5.2
tensorflow-cpu>=2.20.0
xgboost==2.1.4